In [2]:
import pandas as pd
from IPython.display import display

In [3]:
# L√§dt die Daten aus einer CSV-Datei in ein Pandas DataFrame
train_titanic = pd.read_csv(r"C:\Users\Admin\Documents\Woche_16_10.03.25-14.03.25\10.03.25\titanic_analysis\data\titanic_kaggle\train.csv")

train_titanic["Ticket"]

0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

In [4]:
# Berechnen, wie oft jede Ticketnummer vorkommt
ticket_counts = train_titanic["Ticket"].value_counts()

ticket_counts

Ticket
347082              7
1601                7
CA. 2343            7
3101295             6
CA 2144             6
                   ..
PC 17590            1
17463               1
330877              1
373450              1
STON/O2. 3101282    1
Name: count, Length: 681, dtype: int64

In [5]:
# F√ºge die Anzahl der Personen pro Ticket als neue Spalte hinzu
train_titanic["Passenger_Count"] = train_titanic["Ticket"].map(ticket_counts)

train_titanic["Passenger_Count"]

0      1
1      1
2      1
3      2
4      1
      ..
886    1
887    1
888    2
889    1
890    1
Name: Passenger_Count, Length: 891, dtype: int64

In [6]:
# Berechne die Ticketkosten pro Person
train_titanic["Per_Person_Cost"] = train_titanic["Fare"] / train_titanic["Passenger_Count"]

In [7]:
# Erstelle die gew√ºnschte Tabelle mit den geforderten Spalten
ticket_summary = train_titanic[["Name", "Pclass", "Ticket", "Fare", "Per_Person_Cost", "Passenger_Count", "Embarked"]]

In [8]:
# Spalten umbenennen f√ºr bessere Lesbarkeit
ticket_summary = ticket_summary.rename(columns={"Fare": "Total_Fare"})

In [9]:
# Ergebnis anzeigen
display(ticket_summary.head(10).style.format({"Total_Fare": "{:.2f}", 
                                              "Per_Person_Cost": "{:.2f}"}).set_properties(**{'text-align': 'center'}))

In [10]:
# üî• Filter: Nur Tickets anzeigen, die von mindestens 2 Personen genutzt wurden
ticket_summary_filtered = ticket_summary[ticket_summary["Passenger_Count"] >= 2]

# Ergebnis ausgeben
display(ticket_summary_filtered.head(10).style.format({"Total_Fare": "{:.2f}", 
                                                       "Per_Person_Cost": "{:.2f}"}).set_properties(**{'text-align': 'center'}))

In [11]:
# Datei als CSV speichern
ticket_summary.to_csv(r"C:\Users\Admin\Documents\Woche_16_10.03.25-14.03.25\10.03.25\titanic_analysis\results\ticket_summary.csv", index=False)
ticket_summary_filtered.to_csv(r"C:\Users\Admin\Documents\Woche_16_10.03.25-14.03.25\10.03.25\titanic_analysis\results\ticket_summary_filtered.csv", index=False)